#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.gap-sm{
  gap: 8px
}

.horizontal {
  display: flex;
}
.vertical {
  display: flex;
  flex-direction: column;
}

.y-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  padding: 8px;
  border: 1px solid #C7C7C7;
  border-radius: 6px;
  /* box-shadow: 0 1px 3px rgb(50 50 93 / 15%), 0 1px 0 rgb(0 0 0 / 2%); */
  /* border: 5px solid red; */
  list-style-type: none;
}

.add-item {
  display: flex;
  flex-direction: column;
  gap: 8px
}

.read-the-docs {
  color: #888;
}
